<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.vclipse.sap.deployment.injection.ExtensionFactory:org.vclipse.sap.deployment.preferences.PreferencesInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.vclipse.preference.pages.sap"
          class="org.vclipse.sap.deployment.injection.ExtensionFactory:org.vclipse.sap.deployment.preferences.DeploymentPreferencePage"
          id="org.vclipse.deployment.preferencePage"
          name="Deployment">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.vclipse.ui.menus.popup?before=group.begin">
       <command
             commandId="org.vclipse.commands.vcml2idoc.convertAndSend"
             icon="icons/package_go.png"
             label="Create and send ALE distribution packet"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <or>
                <reference
                      definitionId="org.vclipse.vcml.resources.files.vcml">
                </reference>
                <reference
                      definitionId="org.vclipse.idoc.resources.files.idocs">
                </reference>
             </or>
          </visibleWhen>
       </command>
       <command
             commandId="org.vclipse.commands.computeDeltaAndSend"
             icon="icons/delta_package_go.png"
             label="Create and send ALE distribution packet of delta"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="org.vclipse.vcml.resources.files.vcml">
             </reference>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.vclipse.sap.deployment.injection.ExtensionFactory:org.vclipse.sap.deployment.ConvertAndSendHandler"
          commandId="org.vclipse.commands.vcml2idoc.convertAndSend">
    </handler>
    <handler
          class="org.vclipse.sap.deployment.ComputeDeltaAndSendHandler"
          commandId="org.vclipse.commands.computeDeltaAndSend">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.vclipse.ui.commands"
          id="org.vclipse.commands.vcml2idoc.convertAndSend"
          name="Create and send ALE distribution packet">
    </command>
    <command
          categoryId="org.vclipse.ui.commands"
          id="org.vclipse.commands.computeDeltaAndSend"
          name="Create and send ALE distribution packet of delta">
    </command>
 </extension>
</plugin>
