<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="VClipse" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.2.1.v20110913-0926"/>
<unit id="org.eclipse.emf.compare.mpatch.feature.group" version="1.2.1.v20110913-0926"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.2.1.v20110913-0926"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.1.v201108102009-7H7EFZ3DxumTlaI6nheRdHo2p1KaDIL1Uz-S3PL"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.1.M20110909-1335"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe.ui.feature.group" version="1.2.1.v201112070431"/>
<unit id="org.eclipse.emf.mwe.doc.feature.group" version="1.2.1.v201112070431"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.2.1.v201112070431"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201112070431"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.2.0.v201112071250"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.2.0.v201112070431"/>
<unit id="org.eclipse.xtext.xtend2.sdk.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.docs.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.2.1.v201112130541"/>
<repository location="http://download.itemis.de/updates"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.xtext.utils.unittesting" version="0.9.2"/>
<repository location="http://xtext-utils.eclipselabs.org.codespot.com/git.distribution/releases/unittesting-0.9.x/"/>
</location>
</locations>
<environment>
<nl>en</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xmx512m -XX:MaxPermSize=256m</vmArgs>
</launcherArgs>
</target>
