<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.vclipse.views.category"
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.views.IDocView"
            icon="icons/idoc.gif"
            id="org.vclipse.idoc2jcoidoc.views.idocview"
            name="JCo IDocs View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sap.conn.idoc.IDocRecord"
            class="org.vclipse.idoc2jcoidoc.views.IDocDocumentAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.vclipse.fileTranformation"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.vclipse.idoc2jcoidoc.ShowJCoIDocsAction"
               enablesFor="?"
               icon="icons/cog_edit.png"
               id="org.vclipse.actions.idoc2jcoidoc"
               label="Transform IDoc to SAP JCo IDocs"
               menubarPath="org.vclipse.vcml.ui.popupMenu.resource/content"
               >
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="idoc">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.vclipse.exportinsapxml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.actions.ExportInSapXmlAction"
               id="org.vclipse.actions.exportassapxml"
               label="Export to SAP XML format"
               menubarPath="org.vclipse.vcml.ui.popupMenu.resource/content">
	         <enablement>
	            <and>
	               <objectClass
	                     name="org.eclipse.core.resources.IFile">
	               </objectClass>
	               <objectState
	                     name="extension"
	                     value="idoc">
	               </objectState>
	            </and>
	         </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.vclipse.convertToIDocsAndSend"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.actions.ConvertToIDocsAndSendAction"
               id="org.vclipse.actions.convertToIDocsAndSend"
               label="Convert to IDocs and send to SAP system"
               menubarPath="org.vclipse.vcml.ui.popupMenu.resource/content">
	         <enablement>
	            <and>
	               <objectClass
	                     name="org.eclipse.core.resources.IFile">
	               </objectClass>
	               <objectState
	                     name="extension"
	                     value="vcml">
	               </objectState>
	            </and>
	         </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.vclipse.perspective">
         <showInPart
               id="org.vclipse.idoc2jcoidoc.views.idocview">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.vclipse.preferences.page"
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.internal.IDoc2JCoIDocPreferencePage"
            id="org.vclipse.preferences.pages.idoc2jcoidoc"
            name="IDoc to JCo IDoc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.vclipse.perspective">
         <view
               closeable="true"
               id="org.vclipse.idoc2jcoidoc.views.idocview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
