<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.vclipse.views.category"
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.views.IDocView"
            icon="icons/idoc.gif"
            id="org.vclipse.idoc2jcoidoc.views.idocview"
            name="JCo IDocs View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.sap.conn.idoc.IDocRecord"
            class="org.vclipse.idoc2jcoidoc.views.IDocDocumentAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.vclipse.perspective">
         <showInPart
               id="org.vclipse.idoc2jcoidoc.views.idocview">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.vclipse.preferences.pages.vclipse"
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.internal.IDoc2JCoIDocPreferencePage"
            id="org.vclipse.preferences.pages.idoc2jcoidoc"
            name="IDoc to JCo IDoc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.vclipse.perspective">
         <view
               closeable="true"
               id="org.vclipse.idoc2jcoidoc.views.idocview"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.vclipse.ui.menus.popup?after=additions">
         <command
               commandId="org.vclipse.commands.transformation.idoc2sapxml"
               icon="icons/application-xml.png"
               label="Transform IDoc file to SAP XML format for IDocs"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.vclipse.idoc.resources.files.idocs">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.vclipse.commands.transformation.idoc2alepackage"
               icon="icons/package.png"
               label="Transform IDoc file to ALE distribution packet"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.vclipse.idoc.resources.files.idocs">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.actions.TransformIDoc2SapXmlHandler"
            commandId="org.vclipse.commands.transformation.idoc2sapxml">
      </handler>
      <handler
            commandId="org.vclipse.commands.transformation.idoc2alepackage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.vclipse.ui.commands"
            defaultHandler="org.vclipse.idoc2jcoidoc.injection.ExecutableExtensionFactory:org.vclipse.idoc2jcoidoc.actions.TransformIDoc2SapXmlHandler"
            id="org.vclipse.commands.transformation.idoc2sapxml"
            name="Transform IDoc file to SAP XML format for IDocs">
      </command>
      <command
            categoryId="org.vclipse.ui.commands"
            defaultHandler="org.vclipse.idoc2jcoidoc.actions.TransformIDoc2AlePackage"
            id="org.vclipse.commands.transformation.idoc2alepackage"
            name="Transform IDoc file to ALE distribution packet">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.vclipse.commands.transformation.idoc2sapxml"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+I">
      </key>
      <key
            commandId="org.vclipse.commands.transformation.idoc2alepackage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="org.vclipse.idoc2jcoidoc.key2">
      </key>
   </extension>
</plugin>
