<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension 
		point="org.eclipse.ui.importWizards">
		<category 
			id="org.vclipse.vcml.ui.wizards.imports" 
			name="VClipse"
		/>
 	</extension>
	<extension
		point="org.eclipse.ui.views">
		<category
			id="org.vclipse.views.category"
			name="VClipse">
		</category>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	    <category
	          description="VClipse Commands"
	          id="org.vclipse.ui.commands"
	          name="VClipse">
	    </category>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
    		locationURI="popup:org.eclipse.ui.popup.any?after=additions">
 			<menu
       			icon="icons/vcml.png"
       			id="org.vclipse.ui.menus.popup"
       			label="VClipse">
		        <separator
		              name="vcml.begin"
		              visible="true">
		        </separator>
       		</menu>
       	</menuContribution>
	</extension>
	
</plugin>