<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.vclipse.vcml.ui.outlinePageActions">

      <action
            disabledIcon="icons/actions/create_disabled.png"
            icon="icons/actions/create_enabled.png"
            id="org.vclipse.vcml.ui.actions.create"
            label="Create"
            menubarPath="top"
            state="false"
            tooltip="Create SAP object">
      </action>
      <action
            disabledIcon="icons/actions/change_disabled.png"
            icon="icons/actions/change_enabled.png"
            id="org.vclipse.vcml.ui.actions.change"
            label="Change"
            menubarPath="top"
            state="false"
            tooltip="Change SAP object">
      </action>
      <action
            disabledIcon="icons/actions/display_disabled.png"
            icon="icons/actions/display_enabled.png"
            id="org.vclipse.vcml.ui.actions.display"
            label="Display"
            menubarPath="top"
            state="false"
            tooltip="Display SAP object">
      </action>
      <action
            disabledIcon="icons/actions/display_disabled.png"
            icon="icons/actions/display_enabled.png"
            id="org.vclipse.vcml.ui.actions.extract"
            label="Extract recursively"
            menubarPath="top"
            state="false"
            tooltip="Extract SAP objects recursively">
      </action>
      <action
            disabledIcon="icons/actions/delete_disabled.png"
            icon="icons/actions/delete_enabled.png"
            id="org.vclipse.vcml.ui.actions.delete"
            label="Delete"
            menubarPath="top"
            state="false"
            tooltip="Delete SAP object">
      </action>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.billofmaterial.BillOfMaterialCreateActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.billofmaterial.BillOfMaterialChangeActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.billofmaterial.BillOfMaterialDisplayActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.billofmaterial.BillOfMaterialExtractActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.billofmaterial.BillOfMaterialDeleteActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.classes.ClassCreateActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.classes.ClassChangeActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.classes.ClassDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.classes.ClassExtractActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.classes.ClassDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.configurationprofile.ConfigurationProfileCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.configurationprofile.ConfigurationProfileCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.configurationprofile.ConfigurationProfileDisplayActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.configurationprofile.ConfigurationProfileExtractActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.configurationprofile.ConfigurationProfileDeleteActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.constraint.ConstraintCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.constraint.ConstraintCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.constraint.ConstraintDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.constraint.ConstraintExtractActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.constraint.ConstraintDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.dependencynet.DependencyNetCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.dependencynet.DependencyNetCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.dependencynet.DependencyNetDisplayActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.dependencynet.DependencyNetExtractActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.dependencynet.DependencyNetDeleteActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.intefacedesign.InterfaceDesignCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.intefacedesign.InterfaceDesignCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.intefacedesign.InterfaceDesignDisplayActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.intefacedesign.InterfaceDesignExtractActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.intefacedesign.InterfaceDesignDeleteActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
       
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.material.MaterialCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.material.MaterialCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.material.MaterialDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.material.MaterialExtractActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.precondition.PreconditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.precondition.PreconditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.precondition.PreconditionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.precondition.PreconditionExtractActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.precondition.PreconditionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
 
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.procedure.ProcedureCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.procedure.ProcedureCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.procedure.ProcedureDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.procedure.ProcedureExtractActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.procedure.ProcedureDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.selectioncondition.SelectionConditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.selectioncondition.SelectionConditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.selectioncondition.SelectionConditionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.selectioncondition.SelectionConditionExtractActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.selectioncondition.SelectionConditionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>

      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.variantfunction.VariantFunctionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.variantfunction.VariantFunctionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.variantfunction.VariantFunctionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.variantfunction.VariantFunctionExtractActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.variantfunction.VariantFunctionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>

      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.VariantTableCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.VariantTableCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.VariantTableDisplayActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.VariantTableExtractActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.VariantTableDeleteActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.characteristic.CharacteristicExtractActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>


   </extension>
   <extension
         id="extract"
         point="org.vclipse.vcml.ui.outlinePageActions">
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.content.VariantTableContentExtractActionHandler"
            type="org.vclipse.vcml.vcml.VariantTableContent">
      </handler>
   </extension>
   <extension
         id="create"
         point="org.vclipse.vcml.ui.outlinePageActions">
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.content.VariantTableContentCreateActionHandler"
            type="org.vclipse.vcml.vcml.VariantTableContent">
      </handler>
   </extension>
   <extension
         id="delete"
         point="org.vclipse.vcml.ui.outlinePageActions">
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.content.VariantTableContentDeleteActionHandler"
            type="org.vclipse.vcml.vcml.VariantTableContent">
      </handler>
   </extension>
   <extension
         id="display"
         point="org.vclipse.vcml.ui.outlinePageActions">
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.injection.ExecutableExtensionFactory:org.vclipse.vcml.ui.actions.varianttable.content.VariantTableContentDisplayActionHandler"
            type="org.vclipse.vcml.vcml.VariantTableContent">
      </handler>
   </extension>

</plugin>
