<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.vclipse.vcml.ui.outlinePageActions">

      <action
            disabledIcon="icons/actions/create_disabled.png"
            icon="icons/actions/create_enabled.png"
            id="org.vclipse.vcml.ui.actions.create"
            label="Create"
            menubarPath="top"
            state="false"
            tooltip="Create SAP object">
      </action>
      <action
            disabledIcon="icons/actions/change_disabled.png"
            icon="icons/actions/change_enabled.png"
            id="org.vclipse.vcml.ui.actions.change"
            label="Change"
            menubarPath="top"
            state="false"
            tooltip="Change SAP object">
      </action>
      <action
            disabledIcon="icons/actions/display_disabled.png"
            icon="icons/actions/display_enabled.png"
            id="org.vclipse.vcml.ui.actions.display"
            label="Display"
            menubarPath="top"
            state="false"
            tooltip="Display SAP object">
      </action>
      <action
            disabledIcon="icons/actions/display_disabled.png"
            icon="icons/actions/display_enabled.png"
            id="org.vclipse.vcml.ui.actions.extract"
            label="Extract recursively"
            menubarPath="top"
            state="false"
            tooltip="Extract SAP objects recursively">
      </action>
      <action
            disabledIcon="icons/actions/delete_disabled.png"
            icon="icons/actions/delete_enabled.png"
            id="org.vclipse.vcml.ui.actions.delete"
            label="Delete"
            menubarPath="top"
            state="false"
            tooltip="Delete SAP object">
      </action>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.BillOfMaterialCreateActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.BillOfMaterialChangeActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.BillOfMaterialDisplayActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.BillOfMaterialExtractActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.BillOfMaterialDeleteActionHandler"
            type="org.vclipse.vcml.vcml.BillOfMaterial">
      </handler>
      
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.CharacteristicCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.CharacteristicCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.CharacteristicDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.CharacteristicDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.CharacteristicDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Characteristic">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.ClassCreateActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.ClassChangeActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.ClassDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.ClassExtractActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.ClassDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Class">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.ConfigurationProfileCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.ConfigurationProfileCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.ConfigurationProfileDisplayActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.ConfigurationProfileExtractActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.ConfigurationProfileDeleteActionHandler"
            type="org.vclipse.vcml.vcml.ConfigurationProfile">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.ConstraintCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.ConstraintCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.ConstraintDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.ConstraintExtractActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.ConstraintDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Constraint">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.DependencyNetCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.DependencyNetCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.DependencyNetDisplayActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.DependencyNetExtractActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.DependencyNetDeleteActionHandler"
            type="org.vclipse.vcml.vcml.DependencyNet">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.InterfaceDesignCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.InterfaceDesignCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.InterfaceDesignDisplayActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.InterfaceDesignExtractActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.InterfaceDesignDeleteActionHandler"
            type="org.vclipse.vcml.vcml.InterfaceDesign">
      </handler>
       
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.MaterialCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.MaterialCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.MaterialDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.MaterialExtractActionHandler"
            type="org.vclipse.vcml.vcml.Material">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.PreconditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.PreconditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.PreconditionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.PreconditionExtractActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.PreconditionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Precondition">
      </handler>
 
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.ProcedureCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.ProcedureCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.ProcedureDisplayActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.ProcedureExtractActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.ProcedureDeleteActionHandler"
            type="org.vclipse.vcml.vcml.Procedure">
      </handler>
      
      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.SelectionConditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.SelectionConditionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.SelectionConditionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.SelectionConditionExtractActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.SelectionConditionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.SelectionCondition">
      </handler>

      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.VariantFunctionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.VariantFunctionCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.VariantFunctionDisplayActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.VariantFunctionExtractActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.VariantFunctionDeleteActionHandler"
            type="org.vclipse.vcml.vcml.VariantFunction">
      </handler>

      <handler
            action="org.vclipse.vcml.ui.actions.create"
            handler="org.vclipse.vcml.ui.actions.VariantTableCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.change"
            handler="org.vclipse.vcml.ui.actions.VariantTableCreateChangeActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.display"
            handler="org.vclipse.vcml.ui.actions.VariantTableDisplayActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.extract"
            handler="org.vclipse.vcml.ui.actions.VariantTableExtractActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>
      <handler
            action="org.vclipse.vcml.ui.actions.delete"
            handler="org.vclipse.vcml.ui.actions.VariantTableDeleteActionHandler"
            type="org.vclipse.vcml.vcml.VariantTable">
      </handler>


   </extension>

</plugin>
