<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.vclipse.preferences.pages.vclipse"
            class="org.vclipse.vcml.compare.injection.VCMLCompareExtensionFactory:org.vclipse.vcml.compare.ui.VCMLComparePreferencePage"
            id="org.vclipse.vcml.preferences.pages.compare"
            name="Vcml Compare">
      </page>
   </extension>
</plugin>
