<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.vclipse.compare.diffmerge.modelComparisonContext"
         name="VCML Model Comparison Context"
         point="org.eclipse.emf.diffmerge.ui.modelComparisonContext">
      <comparisonSpecification
            specificationFactory="org.vclipse.vcml.diffmerge.VcmlComparisonSpecificationFactory">
      </comparisonSpecification>
   </extension>
</plugin>
