<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.vclipse.configscan.testLanguageExtension" name="Extensions for ConfigScan plug-in" schema="schema/org.vclipse.configscan.testLanguageExtension.exsd"/>
	 <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.launch.LaunchDelegate"
            id="org.vclipse.configscan.launchConfiguration"
            modes="run"
            name="ConfigScan"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.launch.TabGroup"
            description="Create a configuration for running tests in the SAP System"
            id="ConfigScanLaunchConfigurationTabGroup"
            type="org.vclipse.configscan.launchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.vclipse.configscan.launchConfiguration"
            icon="icons/fysbee.png"
            id="org.vclipse.configscan.launchConfiguration.fysbeeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.vclipse.views.category"
            class="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.views.ConfigScanView"
            icon="icons/fysbee.png"
            id="org.vclipse.configscan.ConfigScanView"
            name="ConfigScan"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="org.vclipse.configscan.ConfigScanView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.vclipse.preferences.pages.vclipse"
            class="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.preferences.ConfigScanOptionsPage"
            id="org.vclipse.configscan.preferences.page.options"
            name="ConfigScan Options">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.vclipse.configscan.popupMenu.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/fysbee.png"
               id="org.vclipse.configscan.popupMenu.resource"
               label="ConfigScan"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.vclipse.configscan.actions.StoreXmlTestcaseInConfigScan"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.vclipse.configscan.injection.ExecutableExtensionFactory:org.vclipse.configscan.actions.StoreXmlTestcaseInConfigScanAction"
               icon="icons/generic_xml_obj_16x16.gif"
               id="org.vclipse.configscan.actions.store"
               label="Store XML test cases in ConfigScan"
               menubarPath="org.vclipse.configscan.popupMenu.resource/content">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="xml">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
</plugin>
