<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="hyperlinksDelegate" name="Hyperlink Delegate" schema="schema/hyperlinksDelegate.exsd"/>
	<!-- Extensions, contributed by VClipse developers -->

	<!-- entry for own extension point -->

	<!-- Extensions for cleaning up the dependency code -->
   
   <extension
        point="org.eclipse.ui.handlers">
        <handler
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.actions.CleanUpDependenciesHandler"
              commandId="org.vclipse.ui.commands.cleanUpDepedencyCode">
        </handler>
   </extension>
   
   <!-- Rename participant for dependency source files -->
   	<extension
        point="org.eclipse.ltk.core.refactoring.renameParticipants">
     <renameParticipant
           class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.refactoring.VcmlRenameDependencyParticipant"
           id="org.vclipse.vcml.ui.renameDependency"
           name="Rename dependency">
        <enablement>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
              </adapt>
              <or>
                 <test
                       property="org.eclipse.core.resources.extension"
                       value="proc">
                 </test>
                 <test
                       property="org.eclipse.core.resources.extension"
                       value="cons">
                 </test>
                 <test
                       property="org.eclipse.core.resources.extension"
                       value="sel">
                 </test>
                 <test
                       property="org.eclipse.core.resources.extension"
                       value="pre">
                 </test>
              </or>
           </and>
        </enablement>
     </renameParticipant>
  	</extension>
  	
  	<!-- Import wizards category -->
	<extension 
		point="org.eclipse.ui.importWizards">
			<category 
				id="org.vclipse.vcml.ui.wizards.imports" 
				name="VClipse"
			/>
 	</extension>
 	
 	<!-- Perspective extension point -->
 	<extension
 		point="org.eclipse.ui.perspectives">
			<perspective
				class="org.vclipse.vcml.ui.VClipsePerspectiveFactory"
				fixed="false"
				id="org.vclipse.perspective"
				name="VClipse">
			</perspective>
 	</extension>
 	
 	<!-- Vclipse views category -->
	<extension
		point="org.eclipse.ui.views">
			<category
				id="org.vclipse.views.category"
				name="VClipse">
			</category>
	</extension>
	
	<!-- Additional preference pages -->
	<extension
		point="org.eclipse.ui.preferencePages">
			<page
              	class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              	id="org.vclipse.preferences.pages.vclipse"
              	name="VClipse">
        	</page>
        	<page
        		category="org.vclipse.preferences.pages.vclipse"
              	class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              	id="org.vclipse.preference.pages.sap"
              	name="SAP">
        	</page>
        	<page
              	category="org.vclipse.preference.pages.sap"
              	class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.SapOptionsPreferencePage"
              	id="org.vclipse.preferences.page.sap.options"
              	name="Options">
        	</page>
        	<page
              	category="org.vclipse.preference.pages.sap"
              	class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.SapDefaultSettingsPreferencePage"
              	id="org.vclipse.preferences.page.sap.defaultSettings"
              	name="Default Settings">
        	</page>
         <page
               category="org.vclipse.preferences.pages.vclipse"
               class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
               id="org.vclipse.preferences.pages.vclipse.languages"
               name="Languages">
         </page>
	</extension>
	
	 <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.vclipse.properties.pages.vclipse"
            name="VClipse">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
	
	<!-- VClipse commands category -->
	
	<!-- Command for cleaning up not required dependency code -->
	<extension
		point="org.eclipse.ui.commands">
    <category
          description="VClipse Commands"
          id="org.vclipse.ui.commands"
          name="VClipse">
    </category>
			<command
				categoryId="org.vclipse.ui.commands"
				description="Delete not required dependency code for a vcml source file"
				id="org.vclipse.ui.commands.cleanUpDepedencyCode"
				name="Clean Up Dependency Code">
			</command>
    </extension>
    
    <!-- Menu contributions -->
	<extension point="org.eclipse.ui.menus">
  <menuContribution
        locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <menu
           icon="icons/vcml.png"
           id="org.vclipse.ui.menus.popup"
           label="VClipse">
        <separator
              name="group.begin"
              visible="true">
        </separator>
        <command
              commandId="org.vclipse.ui.commands.cleanUpDepedencyCode"
              icon="icons/delete.png"
              label="Clean Up Dependency Code"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <or>
                 <reference
                       definitionId="org.vclipse.vcml.VCML.Editor.opened">
                 </reference>
                 <reference
                       definitionId="org.vclipse.vcml.resources.container">
                 </reference>
              </or>
           </visibleWhen>
        </command>
        <separator
              name="group.end"
              visible="true">
        </separator>
     </menu>
  </menuContribution>
    </extension>
    
    <!-- Preferences initializer -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.PreferencesInitializer">
		</initializer>
	</extension>
	
	
	<!-- Extensions, generated by Xtext -->
    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="vcml"
              icon="icons/vcml.png"
              id="org.vclipse.vcml.VCML"
              name="VCML Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.vclipse.vcml.VCML.validate">
         <activeWhen>
            <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.vclipse.vcml.VCML.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.vclipse.vcml.VCML" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition
              id="org.vclipse.vcml.resources.container">
           <iterate
                 ifEmpty="false"
                 operator="and">
              <adapt
                    type="org.eclipse.core.resources.IContainer">
              </adapt>
           </iterate>
        </definition>
        <definition
              id="org.vclipse.vcml.resources.files.vcml">
           <iterate
                 ifEmpty="false"
                 operator="and">
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="vcml">
                 </test>
              </adapt>
           </iterate>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="org.vclipse.preferences.pages.vclipse.languages"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.vclipse.vcml.VCML"
              name="VCML">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
        <page
            category="org.vclipse.vcml.VCML"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.vclipse.vcml.VCML.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
        <page
            category="org.vclipse.vcml.VCML"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.vclipse.vcml.VCML.templates"
            name="Templates">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
              category="org.vclipse.properties.pages.vclipse"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.vclipse.vcml.VCML"
              name="VCML">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.vclipse.vcml.ui.keyword_VCML"
            label="VCML"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.vclipse.vcml.VCML.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.vclipse.vcml.VCML.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.vclipse.vcml.VCML.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="vcml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="vcml">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.vclipse.vcml.VCML -->
    <extension
            id="vcml.check.fast"
            name="VCML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="vcml.check.normal"
            name="VCML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="vcml.check.expensive"
            name="VCML Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.vclipse.vcml.VCML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.vclipse.vcml.VCML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.vclipse.vcml.VCML -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.vclipse.vcml.ui.vcml.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.vclipse.vcml.ui.vcml.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.vclipse.vcml.ui.vcml.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.vclipse.vcml.VCML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.vclipse.vcml.VCML.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.vclipse.vcml.VCML"
	        class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.vclipse.vcml.VCML.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.vclipse.vcml.VCML.compare.contentViewers"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="vcml">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.vclipse.vcml.VCML.compare.contentMergeViewers"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="vcml" label="VCML Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.vclipse.vcml.VCML.editors.documentProviders"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="vcml">
    </provider>
  </extension>

<!--
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.wizard.VCMLNewProjectWizard"
            id="org.vclipse.vcml.ui.wizard.VCMLNewProjectWizard"
            name="VCML Project"
            project="true">
      </wizard>
   </extension>
-->

  <extension
        point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
     <module
           class="org.vclipse.vcml.ui.VCMLSharedModule">
     </module>
  </extension>
  <extension
        point="org.vclipse.refactoring">
     <refactoring
           executer="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.refactoring.VCMLRefactoring">
     </refactoring>
  </extension>

<!-- add this to activate EMF Compare for VCML  
  <extension
    point="org.eclipse.core.contenttype.contentTypes">
  <file-association
      content-type="org.eclipse.emf.ecore.xmi"
      file-extensions="vcml"
      file-names="*"/>
</extension>
-->
</plugin>
