<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.vclipse.vcml.vcml.VcmlPackage"
            genModel="src/org/vclipse/vcml/mm/VCML.genmodel"
            uri="http://www.vclipse.org/vcml">
      </package>
   </extension>

</plugin>
