<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.vclipse.vcml.ui.wizards.imports"
            class="org.vclipse.vcml.ui_outlineicons.ImportWizard"
            icon="icons/images.png"
            id="org.vclipse.vcml.ui_outlineicons.importwizard"
            name="Icons for outline view">
      </wizard>
   </extension>

</plugin>
