<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2010 webXcerpt Software GmbH.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       webXcerpt Software GmbH - initial creator
 -->

<plugin>
   <extension-point id="outlinePageActions" name="Outline page actions" schema="schema/outlinePageActions.exsd"/>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="vcml"
              icon="icons/vcml.png"
              id="org.vclipse.vcml.VCML"
              name="VCML Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.vclipse.vcml.VCML.validate">
         <activeWhen>
            <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.vclipse.vcml.VCML.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.vclipse.vcml.VCML" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.vclipse.preferences.page"
            name="VClipse">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
        <page
              category="org.vclipse.preferences.page"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.vclipse.preferences.page.vcmlTextEditor"
              name="VCML Text Editor">
        </page>
        <page
            category="org.vclipse.preferences.page.vcmlTextEditor"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.vclipse.vcml.coloring.page"
            name="Syntax Coloring">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
        <page
            category="org.vclipse.preferences.page.vcmlTextEditor"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.vclipse.vcml.templates.page"
            name="Templates">
            <keywordReference id="org.vclipse.vcml.ui.keyword_VCML"/>
        </page>
        <page
              category="org.vclipse.preferences.page"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="org.vclipse.preferences.page.sap"
              name="SAP">
        </page>
        <page
              category="org.vclipse.preferences.page.sap"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.SapOptionsPreferencePage"
              id="org.vclipse.preferences.page.sap.options"
              name="Options">
        </page>
        <page
              category="org.vclipse.preferences.page.sap"
              class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.SapDefaultSettingsPreferencePage"
              id="org.vclipse.preferences.page.sap.defaultSettings"
              name="Default Settings">
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.vclipse.vcml.ui.keyword_VCML"
            label="VCML"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.vclipse.vcml.VCML.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.vclipse.vcml.VCML.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.vclipse.vcml.VCML.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.vclipse.vcml.VCML.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="vcml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="vcml">
        </resourceServiceProvider>
    </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.preferences.PreferencesInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.vclipse.views.category"
          name="VClipse">
    </category>
 </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.vclipse.vcml.VCML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.vclipse.vcml.VCML.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.vclipse.vcml.VCML.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.vclipse.vcml.VCML.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.vclipse.vcml.VCML.compare.contentViewers"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="vcml">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.vclipse.vcml.VCML.compare.contentMergeViewers"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="vcml" label="VCML Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.vclipse.vcml.VCML.editors.documentProviders"
            class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="vcml">
    </provider>
  </extension>
 <extension
       point="org.eclipse.ui.viewActions">
    <viewContribution
          id="org.vclipse.vcml.ui.viewContribution3"
          targetID="org.eclipse.ui.navigator.ProjectExplorer">
       <action
             class="org.vclipse.vcml.ui.VCMLExecutableExtensionFactory:org.vclipse.vcml.ui.PrettyPrinterAction"
             icon="icons/table.png"
             id="org.vclipse.vcml.ui.action3"
             label="Pretty Printer"
             style="push"
             toolbarPath="additions">
       </action>
    </viewContribution>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.vclipse.vcml.ui.VClipsePerspectiveFactory"
          fixed="false"
          id="org.vclipse.perspective"
          name="VClipse">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="org.vclipse.vcml.popupMenu.resourceContribution"
          objectClass="org.eclipse.core.resources.IResource">
       <menu
             icon="icons/vcml.png"
             id="org.vclipse.vcml.ui.popupMenu.resource"
             label="VClipse"
             path="additions">
          <groupMarker
                name="content">
          </groupMarker>
          <separator
                name="additions">
          </separator>
       </menu>
    </objectContribution>
 </extension>
</plugin>
